* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #548687;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}

#reset-btn,
#user-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
button {
  cursor: pointer;
}

#player1,
#player2 {
  height: 10px;
  width: 250px;
  padding: 20px;
  font-size: 1.2rem;
  margin-top: 20%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #b0413e;
  color: #fff;
}
#start-btn {
  height: 55px;
  padding: 20px;
  width: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffffc7;
  font-size: 1rem;
  margin: 50px;
}
#player1::placeholder,
#player2::placeholder {
  color: #fff;
  opacity: 0.5;
}
.X-turn,
.O-turn {
  font-size: 1.5rem;
}
